
.artwork-card-wrapper {
  padding-right: 24px;
  display: flex !important;
  align-items: flex-end;
  height: 500px !important;
  max-height: 450px;
  @media (max-width: 768px) {
    padding-right: 12px;
  }
}

.artwork-card {
  /* width: 220px; */
  background-color: #ffffff;
  cursor: pointer;
}
.artwork-card:hover .artwork-meta-date {
  text-decoration: underline;
}

.artwork-image-wrapper {
  /* width: 220px;
  height: 322px; */
  overflow: hidden;
}

.artwork-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artwork-content {
  padding-top: 16px;
}

.artwork-title {
  margin: 0 0 6px;
  font-size: 18px;
  font-weight: 600;
  color: #1c1b1b;
  line-height: 26px;
   @media (max-width: 768px) {
    line-height: 20px;
   }
}

.artwork-meta {
  margin: 0 0 10px;
}

.artwork-meta-date {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2px;
  color: #1C1B1B;
  line-height: 20px;
  @media (max-width: 768px) {
    line-height: 18px;
   }
}

.artwork-meta-name {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #707070;
  line-height: 20px;
  @media (max-width: 768px) {
    line-height: 18px;
   }
}

.mktp-artwork-price {
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #1c1b1b;
  line-height: 24px;
  @media (max-width: 768px) {
    line-height: 20px;
   }
}