.category-card-wrapper {
  padding-right: 32px;
  text-align: center;
}

.category-card {
  width: 237px;
  height: 216px;
  background-color: #f4f4f7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  padding-top: 23px;
  @media (max-width: 768px) {
    width: 150px;
    height: 137px;
    padding-top: 15px;
  }
}

.category-card:hover {
  background-color: #fafafa;
  .category-card-image.top {
    transform-origin: bottom left;
    transform: rotate(-5deg);
  }
  .category-card-image.back {
    transform: rotate(15deg);
    bottom: 9px;
  }
}

.category-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-card-image-wrapper {
  width: 104px;
  height: 104px;
  position: relative;
  z-index: 1;
  @media (max-width: 768px) {
    width: 66px;
    height: 66px;
  }
}

.category-card-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.25s ease-in-out;
}

.category-card-image.back {
    position: absolute;
    bottom: 0;
    z-index: -1;
    transform: rotate(10deg);
    transform-origin: bottom right;
}

.category-card-title {
  margin: 18px 0 0;
  font-size: 18px;
  font-weight: 400;
  color: #1c1b1b;
  text-decoration: underline;
  text-underline-offset: 4px;
  @media (max-width: 768px) {
  font-size: 14px;
  }
}