.artworks-filter-section{
  position: relative;
  top: 0;
  &.sticky{
    position: sticky;
    top: 140px;
    @media (max-width: 768px) {
      position: relative;
      top: 0;
    }
    &.position-top{
      .artworks-filter-container{
        padding: 10px 64px;
      }
    }
  }
  @media (max-width: 768px) {
    position: relative;
    top: 0;
  }
  .artworks-filter-container{
    max-width: 100%;
    @media (max-width: 768px) {
      margin: 0px;
    }
    .artworks-filters-row{
      .artworks-filter-button-wrapper{
        .artworks-filter-button{
          background: #F4F4F7;
          border: 0;
          color: #1C1B1B;
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          height: 40px;
          transition: all 0.3s ease-in-out;
          @media (max-width: 768px) {
            font-size: 12px !important;
            line-height: 18px !important;
            height: 36px !important;
          }
          .artworks-filter-count{
            color: #E61282;
          }
          &.active {
            .arrow-icon-right {
              transform: rotate(180deg);
            }
          }
          span.arrow-icon-right {
            width: 16px;
            height: 16px;
            padding: 5px 3px;
            transition: all 0.25s ease-in-out;

            img {
                width: 100%;
                height: 100%;
            }
          }
        }
      }
      .artworks-filters-left{
        gap: 16px;
        .artworks-filter-button-wrapper{
          .artworks-filter-button{
            background: #F4F4F7;
            border: 0;
            color: #1C1B1B;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            height: 40px;
            transition: all 0.3s ease-in-out;
            .artworks-filter-count{
              color: #E61282;
            }
            &.active {
              .arrow-icon-right {
                transform: rotate(180deg);
              }
            }
            span.arrow-icon-right {
              width: 16px;
              height: 16px;
              padding: 5px 3px;
              transition: all 0.25s ease-in-out;

              img {
                  width: 100%;
                  height: 100%;
              }
            }
          }
        }
        .artworks-clear-all{
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #1C1B1B;
          text-decoration: underline;
          text-underline-offset: 3px;
          border-left: 1px solid #AFAFAF;
          padding-left: 16px;
        }
      }
      .artworks-filters-mobile{
        .artworks-filter-button-wrapper{
          .artworks-filter-button-consolidated{
            background: #F4F4F7;
            color: #1C1B1B;
          }
        }
        &.filter-consolidated-wrapper{
          width: calc(50% - 4px);
          flex: 0 0 calc(50% - 4px);
          .artworks-filter-button-wrapper{
            width: 100%;
            .artworks-filter-button-consolidated{
              width: 100%;
              justify-content: flex-start;
              .arrow-icon-right{
                margin-right: 0px;
                margin-left: auto;
              }
            }
          }
        }
      }
      .artworks-filters-right{
        .artworks-filter-button-wrapper{
          position: relative;
          .artworks-filter-panel{
            position: absolute;
            &.active{
              position: absolute;
              right: 0;
              left: auto;
            }
          }
          .artworks-filter-button{
            &.active{
              background: #F4F4F7;
              color: #1C1B1B;
            }
          }
          .artworks-filter-button-sort{
            width: 100%;
            justify-content: flex-start;
            .artworks-sort-arrow{
              width: 16px;
              height: 16px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 0px;
              margin-left: auto;
              transform-origin: center center;
            }
          }
        }
        min-width: 203px;
        @media (max-width: 768px) {
          width: 100%;
          min-width: auto;
          .artworks-filter-button-wrapper{
            .artworks-filter-button-sort{
              width: 100%;
              justify-content: flex-start;
              .artworks-sort-arrow{
                margin-right: 0px;
                margin-left: auto;
              }
            }
          }
        }
      }
    }
    .artworks-filter-tags{
      @media (max-width: 768px) {
        border: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }
      .artworks-filter-tag{
        background: #FAFAFA;
        border: 1px solid #DDDDDD;
        font-weight: 400;
        font-size: 12px;
        line-height: normal;
        color: #1C1B1B;
        gap: 0px;
        padding: 5px 12px;
        white-space: nowrap;
      }
    }
  }
  .artworks-filter-panel{
    &.active{
      height: auto;
      max-height: 278px;
      overflow-y: auto;
    }
  }
}
.mobile-filter-overlay{
  .mobile-filter-content{
      .filter-content{
        .artworks-filter-button-mobile{
            & > span{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            span.arrow-icon-right{
                width: 100%;
                max-width: 9px;
                height: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px;
            }
        }
        .artworks-filter-button-wrapper{
          .artworks-filter-panel{
            .artworks-filter-options{
              .artworks-filter-option{
                line-height: normal;
                span{
                  line-height: normal;
                }
              }
            }
          }
        }
      }
      .filter-footer{
          .artworks-clear-all{
              display: block !important;
          }
      }
  }
}

@media (max-width: 768px) {

}