
.gallery-card {
  width: 304px;
  background-color: #ffffff;
  border-radius: 0;
  overflow: hidden;
  cursor: pointer;
}

.gallery-card:hover .gallery-card-title {
  text-decoration: underline;
}

.gallery-card-image-wrapper {
  width: 304px;
  height: 240px;
  overflow: hidden;
}

.gallery-card-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-card-label {
  margin: 16px 0 0;
  font-size: 14px;
  font-weight: 400;
  color: #707070;
}

.gallery-card-title {
  margin: 8px 0 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #1c1b1b;
}


.gallery-card-description {
  margin-top: 12px;
  min-height: 108px;
  width: 100%;
}

.gallery-card-description p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #707070;
}

.gallery-card-footer {
  border-top: 1px solid var(--Border-Color-borderSecondary, #dddddd);
  padding: 8px 0px;
}

.gallery-card-date {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #707070;
}