.gallery-search-card-wrapper {
  /* padding-right: 32px; */
}

.gallery-search-card {
  width: 416px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #DDDDDD;
  @media (max-width: 768px) {
  width: 100%;
  }
}

.gallery-search-card-image-wrapper {
  width: 416px;
  height: 260px;
  overflow: hidden;
  @media (max-width: 768px) {
  width: 100%;
  }
}

.gallery-search-card-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-search-card-body {
  padding: 12px 16px 20px 16px;
  display: flex;
  align-items: end;
  justify-content: flex-start;
  gap: 12px;
}

.gallery-search-card-avatar-wrapper {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-top: -25px;
  @media (max-width: 768px) {
    margin-top: 0;
    width: 56px;
    height: 56px;
  }
}

.gallery-search-card-avatar {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-search-card-profile-info {
  display: flex;
  flex-direction: column;

}

.gallery-search-card-name {
  margin: 0 0 2px;
  font-size: 16px;
  font-weight: 700;
  color: #1c1b1b;
  text-align: left;
  line-height: 24px;
   @media (max-width: 768px) {
    font-size: 14px;
    line-height: 20px;
   }
}

.gallery-search-card-location {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #707070;
  line-height: 18px;
  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 18px;
   }
}

.gallery-search-card:hover .gallery-search-card-name {
  text-decoration: underline;
}

.gallery-search-card-wrapper{
  @media (max-width: 768px) {
     width: 100%;
}
}