.gallery-card-wrapper {
    padding-right: 32px;
}

.gallery-list-card {
  width: 304px;
  background-color: #ffffff;
  cursor: pointer;
  @media (max-width: 768px) {
    width: 240px;
  }
}

.gallery-list-card-image-wrapper {
  width: 304px;
  height: 240px;
  overflow: hidden;
  @media (max-width: 768px) {
    width: 240px;
    height: 189px;
  }
}

.gallery-list-card-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-list-card-body {
  margin-top: 16px;
}

.gallery-list-card-title {
  margin: 0 0 8px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #1C1B1B;
  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.gallery-list-card-footer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.gallery-list-card-location {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.gallery-list-card-location-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 1.67px 3.33px;
}

.gallery-list-card-location-img {
  display: block;
  width: 100%;
  height: auto;
}

.gallery-list-card-location-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #707070;
  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 18px;
  }
}

.gallery-list-card:hover .gallery-list-card-title {
  text-decoration: underline;
}