/* Base arrow button */
.slider-arrow,
.hero-arrow {
  width: 48px !important;
  height: 48px !important;
  border: 1px solid #DDDDDD !important;
  border-radius: 50%;
  background: #ffffff !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: all 0.2s ease;
  box-shadow: none !important;
}

/* SVG icon */
.slider-arrow img,
.hero-arrow img {
  width: 20px;
  height: 20px;
}

.slick-prev img {
  transform: rotate(180deg);
}

/* Hover state */
.slider-arrow:hover,
.hero-arrow:hover {
  background: #f7f7f7;
  border-color: #cccccc;
}

/* Remove default slick styles */
.slick-prev::before,
.slick-next::before {
  display: none;
}
.slick-prev {
  display: none !important;
}

.slick-next {
  right: 25px !important;
}
.fader-right {
  width: 64px;
    height: 100%;
    background: white;
    border: 1px solid red;
    position: absolute;
    top: 0;
    right: 0;
}
@media (max-width: 768px) {
  .slick-prev, .slick-next {
    display: none !important;
  }
}